<div>
  <h2>Add Rental</h2>
  <button (click)="deleteRentals()">
    <mat-icon>plus_one</mat-icon>
  </button>
  <table mat-table [dataSource]="rentals" style="width:100%">
    <ng-container matColumnDef="vin">
      <th mat-header-cell *matHeaderCellDef> Vin</th>
      <td mat-cell *matCellDef="let element"> {{element.car.vin}} </td>
    </ng-container>
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef> Name</th>
      <td mat-cell *matCellDef="let element"> {{element.renter.firstName}} </td>
    </ng-container>
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef> Last Name</th>
      <td mat-cell *matCellDef="let element"> {{element.renter.lastName}} </td>
    </ng-container>
    <ng-container matColumnDef="pesel">
      <th mat-header-cell *matHeaderCellDef> Pesel</th>
      <td mat-cell *matCellDef="let element"> {{element.renter.pesel}} </td>
    </ng-container>
    <ng-container matColumnDef="rentalBegin">
      <th mat-header-cell *matHeaderCellDef> Rental Begin</th>
      <td mat-cell *matCellDef="let element"> {{element.rentalBegin}} </td>
    </ng-container>
    <ng-container matColumnDef="rentalEnd">
      <th mat-header-cell *matHeaderCellDef> Rental End</th>
      <td mat-cell *matCellDef="let element"> {{element.rentalEnd}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <h2>Delete All Rentals</h2>
  <button (click)="deleteRentals()">
    <mat-icon>delete</mat-icon>
  </button>
</div>
