<mat-divider></mat-divider>
<h1 mat-dialog-title>Car</h1>
<div mat-dialog-data>
  <table mat-table [dataSource]="car" style="width:100%">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name</th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef> Type</th>
      <td mat-cell *matCellDef="let element"> {{element.type}} </td>
    </ng-container>
      <ng-container matColumnDef="manufacturingYear">
        <th mat-header-cell *matHeaderCellDef> Manufacturing Year</th>
        <td mat-cell *matCellDef="let element"> {{element.manufacturingYear}} </td>
      </ng-container>
      <ng-container matColumnDef="segment">
        <th mat-header-cell *matHeaderCellDef> Segment</th>
        <td mat-cell *matCellDef="let element"> {{element.segment}} </td>
      </ng-container>
      <ng-container matColumnDef="transmission">
        <th mat-header-cell *matHeaderCellDef> Transmission</th>
        <td mat-cell *matCellDef="let element"> {{element.transmission}} </td>
      </ng-container>
      <ng-container matColumnDef="fuelType">
        <th mat-header-cell *matHeaderCellDef> FuelType</th>
        <td mat-cell *matCellDef="let element"> {{element.fuelType}} </td>
      </ng-container>
      <ng-container matColumnDef="typeOfDrive">
        <th mat-header-cell *matHeaderCellDef> Drive</th>
        <td mat-cell *matCellDef="let element"> {{element.typeOfDrive}} </td>
      </ng-container>
      <ng-container matColumnDef="doors">
        <th mat-header-cell *matHeaderCellDef> Doors</th>
        <td mat-cell *matCellDef="let element"> {{element.doors}} </td>
      </ng-container>
      <ng-container matColumnDef="seats">
        <th mat-header-cell *matHeaderCellDef> Seats</th>
        <td mat-cell *matCellDef="let element"> {{element.seats}} </td>
      </ng-container>
      <ng-container matColumnDef="mpg">
        <th mat-header-cell *matHeaderCellDef> Mpg</th>
        <td mat-cell *matCellDef="let element"> {{element.mpg}} </td>
      </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
