<h2>If you have some problem's with our website contact us on our email: </h2>
<h1>aaarentalcompanybbb@gmail.com</h1>

<mat-form-field appearance="fill">
  <mat-label>Autosize textarea</mat-label>
  <textarea matInput [(ngModel)]="this.chatContent"
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5"></textarea>
</mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Last name</mat-label>
    <input matInput #last>
  </mat-form-field>
  <button mat-raised-button (click)="this.sendChatMessage()">Send</button>


