<h3>Available Car List</h3>




<div>
  <table style="width:10%">
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Plates</th>
      <th>Vin</th>
      <th>ManufacturingYear</th>
      <th>Category</th>
      <th>Rented</th>
      <th>Started</th>
      <th>LastRentalDate</th>
      <th>BringBackDate</th>
      <th>Rent Car</th>
      <th>Bring Car</th>
      <th>Start Car</th>
      <th>Stop Car</th>
      <th>Delete Car</th>
    </tr>
    <tr *ngFor="let car of cars">
      <td>{{car.name}}</td>
      <td>{{car.type}}</td>
      <td>{{car.plates}}</td>
      <td>{{car.vin}}</td>
      <td>{{car.manufacturingYear}}</td>
      <td>{{car.category}}</td>
      <td>{{car.rented?"yes":"no"}}</td>
      <td>{{car.started?"yes":"no"}}</td>
      <td>{{car.lastRentalDate}}</td>
      <td>{{car.bringBackDate}}</td>
      <td><button (click)="rentCar(car.vin)">rent car</button></td>
      <td><button (click)="bringBackCar(car.vin)">bring car</button></td>
      <td><button (click)="startCar(car.vin)">start car</button></td>
      <td><button (click)="stopCar(car.vin)">stop car</button></td>
      <td><button (click)="deleteCar(car.vin)">delete car</button></td>
    </tr>

  </table>
  <button (click)="deleteCars()">delete cars</button>
  <button (click)="addCar()">add car</button>
</div>
<router-outlet></router-outlet>
