<h3>Available Car List</h3>




<div>
  <table style="width:20%">
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Plates</th>
      <th>Vin</th>
      <th>ManufacturingYear</th>
      <th>Category</th>
      <th>Rented</th>
      <th>Started</th>
      <th>lastRentalDate</th>
      <th>bringBackDate</th>
    </tr>
    <tr *ngFor="let car of cars">
      <td>{{car.name}}</td>
      <td>{{car.type}}</td>
      <td>{{car.plates}}</td>
      <td>{{car.vin}}</td>
      <td>{{car.manufacturingYear}}</td>
      <td>{{car.category}}</td>
      <td>{{car.rented?"yes":"no"}}</td>
      <td>{{car.started?"yes":"no"}}</td>
      <td>{{car.lastRentalDate}}</td>
      <td>{{car.bringBackDate}}</td>
    </tr>

  </table>
  <button (click)="deleteCars()">delete cars</button>
  <button (click)="addCar()">add car</button>
</div>
<router-outlet></router-outlet>
