mat-form-field {
  margin-right: 12px;
}
.main-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}
.list-horizontal {
  display: flex;
  flex-direction: row;
}
