<mat-form-field style="width: 200px; margin: 3px; display: block;">
  <input type="text" matInput placeholder="Find "
         (input)="($event.target)">
</mat-form-field>

<mat-form-field style="width: 200px; margin: 3px; display: block;">
  <input type="text" matInput placeholder="Find "
         (input)="($event.target)">
</mat-form-field>

<mat-form-field style="width: 200px; margin: 3px; display: block;">
  <input type="text" matInput placeholder="Find "
         (input)="($event.target)">
</mat-form-field>

<mat-form-field style="width: 200px; margin: 3px; display: block;">
  <input type="text" matInput placeholder="Find "
         (input)="($event.target)">
</mat-form-field>

<table mat-table [dataSource]="search" style="width:100%">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name</th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>
  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef> Type</th>
    <td mat-cell *matCellDef="let element"> {{element.type}} </td>
  </ng-container>
  <ng-container matColumnDef="plates">
    <th mat-header-cell *matHeaderCellDef> Plates</th>
    <td mat-cell *matCellDef="let element"> {{element.plates}} </td>
  </ng-container>
  <ng-container matColumnDef="vin">
    <th mat-header-cell *matHeaderCellDef> Vin</th>
    <td mat-cell *matCellDef="let element"> {{element.vin}} </td>
  </ng-container>
  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef> Price</th>
    <td mat-cell *matCellDef="let element"> {{element.price}} </td>
  </ng-container>
  <ng-container matColumnDef="carStatus">
    <th mat-header-cell *matHeaderCellDef> Car Status</th>
    <td mat-cell *matCellDef="let element"> {{element.carStatus}} </td>
  </ng-container>
  <ng-container matColumnDef="lastRentalDate">
    <th mat-header-cell *matHeaderCellDef> Last Rental Date</th>
    <td mat-cell *matCellDef="let element"> {{element.lastRentalDate}} </td>
  </ng-container>
  <ng-container matColumnDef="bringBackDate">
    <th mat-header-cell *matHeaderCellDef> Bring Back Date</th>
    <td mat-cell *matCellDef="let element"> {{element.bringBackDate}} </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumnsCars"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumnsCars;"></tr>
</table>


<table mat-table [dataSource]="search" style="width:100%">
  <ng-container matColumnDef="vin">
    <th mat-header-cell *matHeaderCellDef> Vin</th>
    <td mat-cell *matCellDef="let element"> {{element.car.vin}} </td>
  </ng-container>
  <ng-container matColumnDef="pesel">
    <th mat-header-cell *matHeaderCellDef> Pesel</th>
    <td mat-cell *matCellDef="let element"> {{element.renter.pesel}} </td>
  </ng-container>
  <ng-container matColumnDef="rentalBegin">
    <th mat-header-cell *matHeaderCellDef> Rental Begin</th>
    <td mat-cell *matCellDef="let element"> {{element.rentalBegin}} </td>
  </ng-container>
  <ng-container matColumnDef="rentalEnd">
    <th mat-header-cell *matHeaderCellDef> Rental End</th>
    <td mat-cell *matCellDef="let element"> {{element.rentalEnd}} </td>
  </ng-container>
  <ng-container matColumnDef="pricePerDay">
    <th mat-header-cell *matHeaderCellDef> Price per day</th>
    <td mat-cell *matCellDef="let element"> {{element.car.price}} </td>
  </ng-container>
  <ng-container matColumnDef="deposit">
    <th mat-header-cell *matHeaderCellDef> Deposit</th>
    <td mat-cell *matCellDef="let element"> {{element.deposit}} </td>
  </ng-container>
  <ng-container matColumnDef="rentalStatus">
    <th mat-header-cell *matHeaderCellDef> Status</th>
    <td mat-cell *matCellDef="let element"> {{element.rentalStatus}} </td>
  </ng-container>
  <ng-container matColumnDef="paymentStatus">
    <th mat-header-cell *matHeaderCellDef> Payment Status</th>
    <td mat-cell *matCellDef="let element"> {{element.paymentStatus}} </td>
  </ng-container>
  <ng-container matColumnDef="totalPayment">
    <th mat-header-cell *matHeaderCellDef> Total Rental Price</th>
    <td mat-cell *matCellDef="let element"> {{element.totalPayment}} </td>
  </ng-container>
  <ng-container matColumnDef="currentBalance">
    <th mat-header-cell *matHeaderCellDef> Price paid</th>
    <td mat-cell *matCellDef="let element"> {{element.currentBalance}} </td>
  </ng-container>
  <ng-container matColumnDef="Bar">
    <th mat-header-cell *matHeaderCellDef> Bar</th>
    <td mat-cell *matCellDef="let element">
      <mat-progress-bar mode="determinate" value="{{(element.currentBalance/element.totalPayment)*100}}"></mat-progress-bar>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumnsRentals"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumnsRentals;"></tr>
</table>

<table mat-table [dataSource]="search" style="width:100%">
  <ng-container matColumnDef="pesel">
    <th mat-header-cell *matHeaderCellDef> Pesel</th>
    <td mat-cell *matCellDef="let element"> {{element.pesel}} </td>
  </ng-container>
  <div class="example-button-container">
    <button mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon">
      <mat-icon>filter_list</mat-icon>
    </button>
  </div>
  <ng-container matColumnDef="menu">
    <th mat-header-cell *matHeaderCellDef> Menu</th>
    <td mat-cell *matCellDef="let element">
      <button (click)="openDataDialog(element.pesel)">
        <mat-icon>plus_one</mat-icon>
      </button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumnsRenters"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumnsRenters;"></tr>
</table>
