<main class="chat">
  <div class="container">
    <div class="chat-content">
      <div class="card">
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let webSocketMessage of webSocketService.chatMessages">
            <strong>{{webSocketMessage.sender}}</strong>
            <span>{{webSocketMessage.type}}</span>
          </li>
        </ul>
      </div>
    </div>
    <form (ngSubmit)="sendMessage(sendForm)" #sendForm="ngForm">
      <div class="chat-send row">
        <div class="col-2">
          <input type="text" class="form-control" name="sender" id="input-sender" ngModel>
        </div>
        <div class="col-8">
          <input type="text" class="form-control" name="type" id="input-type" ngModel>
        </div>
        <div class="col-2">
          <button type="submit" class="btn btn-primary">Send</button>
        </div>
      </div>
    </form>
  </div>

</main>
