<h2>Find Car</h2>

<mat-form-field style="width: 200px; margin: 3px; display: block;">
  <input type="text" matInput placeholder="Find your car by vin"
         (input)="filterCarsByVin($event.target)">
</mat-form-field>

<mat-form-field style="width: 200px; margin: 3px; display: block;">
  <input type="text" matInput placeholder="Find your car by name"
         (input)="filterCarsByName($event.target)">
</mat-form-field>

<mat-form-field style="width: 200px; margin: 3px; display: block;">
  <input type="text" matInput placeholder="Find your car by type"
         (input)="filterCarsByType($event.target)">
</mat-form-field>

<div>
  <app-car-dialog (newItemEvent1)="addCar($event)"></app-car-dialog>
  <table mat-table [dataSource]="cars" style="width:100%">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name</th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef> Type</th>
      <td mat-cell *matCellDef="let element"> {{element.type}} </td>
    </ng-container>
    <ng-container matColumnDef="manufacturingYear">
      <th mat-header-cell *matHeaderCellDef> Manufacturing Year</th>
      <td mat-cell *matCellDef="let element"> {{element.manufacturingYear}} </td>
    </ng-container>
    <ng-container matColumnDef="segment">
      <th mat-header-cell *matHeaderCellDef> Segment</th>
      <td mat-cell *matCellDef="let element"> {{element.segment}} </td>
    </ng-container>
    <ng-container matColumnDef="carStatus">
      <th mat-header-cell *matHeaderCellDef> Car Status</th>
      <td mat-cell *matCellDef="let element"> {{element.carStatus}} </td>
    </ng-container>
    <ng-container matColumnDef="menu">
      <th mat-header-cell *matHeaderCellDef> Menu</th>
      <td mat-cell *matCellDef="let element">
        <button (click)="openDataDialog(element.vin)">
          <mat-icon>extension</mat-icon>
        </button>
        <button>
          <mat-icon>update</mat-icon>
        </button>
        <button button (click)="deleteCar(element.vin)">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-button [matMenuTriggerFor]="mainMenu">
          <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #mainMenu overlapTrigger xPosition="after" yPosition="below">
          <button (click)="rentCar(element.vin)">rent car</button>
          <button (click)="bringBackCar(element.vin)">bring car</button>
        </mat-menu>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <h2>Clear List of Cars</h2>
  <button (click)="deleteCars()">
    <mat-icon>delete</mat-icon>
  </button>
</div>
